<div id="container">

			<center><img src="assets/kelvin.JPG" width="100" alt="example"><span id="logo">over</span><span id="orange">time</span></center>


	<!-- <?php 
	        if($this->session->flashdata('message')){
	            echo "<div id='warning'><h3>" . $this->session->flashdata('message') . "</h3></div>";
	        }
	    ?>	 -->

		<center>
			<div id="box2">
				<form action='/sessions' method="post">
					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
					<h2>Sign In</h2><br>
					<input type="text" name="email" placeholder="E-mail"><br>
					<input type="password" name="password" placeholder="Password"><br>
					<input type="submit" class="btn btn-info"><br>
				</form>
			</div>
			<div id="box1">
				<form action="/users" method="post">
					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
					<input type="hidden" name="wins" value= "0">
					<input type="hidden" name="losses" value= "0">
					<h2>Sign Up</h2><br>
					<input type="text" name="name" placeholder="Name"><br>
					<select name="cohort" placeholder="Cohort"><br>
						<option value="Sensei">Sensei</option>
						<option value="TAResidents">TA/Residents</option>
						<option value="Rails">Rails</option>
						<option value="MEANies">MEANies</option>
						<option value="iLoveLAMPS">iloveLAMPS</option>
						<option VALUE="HTMLCSSrs">HTML/CSS fun people</option>

					</select>
					<input type="text" name="email" placeholder="E-mail"><br>
					<input type="password" name="password" placeholder="password"><br>
					<input type="password" name="confirm_password" placeholder="confirm password"><br>
					<input type="text" name="invitecode" placeholder="Invite Code"><br>
					
					<input type="submit" class="btn btn-info"><br>
				</form>
			</div>
		</center>
	</div>